.barra{
    display:flex;
    flex-direction: column;
    padding-top: 3rem;
    @include tablet{
        flex-direction: row;
        //Colocar la navegación del lado derecho
        justify-content: space-between;
    }
}

.navegacion{
    @include tablet{
        //En tamaño de tablet toma todo el espacio disponible (no arriba hacia abajo)
        display: flex;
        //Alinear los elementos verticalmente
        align-items: center;
    }

    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        //Que se muestren de arriba hacia abajo
        display: block;
        text-align: center;

        @include tablet{
            margin-right: 2rem;

            //Añadir separación al último elemento
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}